.button {
  font-family: Helvetica, sans-serif;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0);

  &__transparent {
    color: black;
    border: 1px solid black;
  }

  &__user {
    color: white;
    background-color: black;
    justify-self: center;
    // width: 50%;
  }
  &__delete {
    color: white;
    background-color: red;
    border: none;
  }
}
