.button {
  font-family: Helvetica, sans-serif;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0);

  &__transparent {
    color: black;
    border: 1px solid black;
  }
}
