@import "colors.scss";

.by-line {
  display: flex;
  font-family: "Roboto";
  margin: 30px 0;
  &__avatar {
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
  &__separator {
    margin: 0px 5px;
  }

  &__data {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 14px;
    justify-content: space-around;
    &-secondline {
      display: flex;
      color: $gray-1;
    }
  }
}
