@import "colors.scss";

.post-preview {
  font-family: Times, "Times New Roman", serif;
  font-style: unset;
  text-decoration: none;
  font-family: "Roboto";
  width: 50%;
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-size: 16px;
    margin: 4px 0;
    font-weight: 500;
  }
  h3 {
    font-size: 16px;
    margin: 4px 0;
    font-weight: 300;
    color: $gray-1;
  }
  &__separator {
    margin: 0px 5px;
  }
  &__meta-data {
    font-weight: 300;
    font-size: 13px;
    margin: 5px 0;
  }
  &__avatar {
    height: 25px;
    width: 25px;
    margin-right: 5px;
  }
  &__author {
    font-size: 13px;
    font-weight: 500;
    display: flex;

    align-items: center;
  }
  .thumbnail {
    width: 150px;
    height: 115px;
  }
}
