@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
.masthead {
  display: flex;
  justify-content: space-between;
  font-family: "Martel Sans";
  height: 65px;
  align-items: center;
  &__title {
    font-family: "DM Serif Display";
    font-size: 30px;
    margin-left: 125px;
    text-decoration: none;
    color: black;
  }
  &__login {
    margin-right: 125px;
    font-weight: 300;
    .button {
      color: black;
      text-decoration: none;
      margin: 0 10px;
      font-weight: 600;
    }
  }
  &__link {
    color: white;
    background-color: dodgerblue;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 15px;
    // line-height: 0px;
  }
}
